@font-face {
  font-family: 'Circe';
  src: local('Circe'), local('Circe'),
  url('fonts/circe.woff2') format('woff2'),
  url('fonts/circe.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'CirceBold';
  src: local('CirceBold'), local('CirceBold'),
  url('fonts/circeBold.woff2') format('woff2'),
  url('fonts/circeBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

body {
  margin: 0;
  font-family: 'Circe', 'CirceBold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #35354C;
}
